@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--surface-b);
    color: var(--text-color);
}