app-developers-view {
  .code {
    display: flex;
    flex-direction: column;
    padding: .5rem 0;

    span {
      font-size: .75rem;

      &:before {
        font-family: 'primeicons';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e958";
        display: inline-block;
        margin-right: .25rem;
      }
    }

    pre {
      margin: 0;
      display: inline-block;
      padding: .5rem;
      background-color: var(--p-surface-100);
      border-radius: .25rem;
      border: solid 1px var(--p-surface-300);
    }
  }

  h1, h2, h3, h4 {
    margin: 0;
  }

  h1 {
    padding: 1rem 0;
  }

  h2 {
    padding: .75rem 0 .25rem 0;
  }

  h3 {
    padding: .5rem 0 .25rem 0;
  }

  h4 {
    padding: .5rem 0 .25rem 0;
  }

  p {
    padding: 0;
    margin: 0;
  }
}
